/* memory match */
html, body { 
    height: 100%; width: 100%; margin: 0; 
    background-color: turquoise;
}
header{
    background-color: tomato;
    font-size: 50px;
    color:blue;
    text-align: center;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}

#gamespace{
    width:40%;
    height: 80%;
    float:left;
    background-color:turquoise;
    margin-top: 2%;
    margin-left: 30%;
    perspective: 1000px;
}

.card{
    margin-top: 4%;
    margin-right:6%;
    margin-left:3%;
    width: 15%;
    height: 20%;
    float:right;
    position:relative;
    transition: 1s;
    transform-style: preserve-3d;
    
}
.cardBack, .cardFront{
    height:100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: saddlebrown;
    
}
.cardFront{
    transform:rotateY(180deg);
}
/*active css*/

.flip{
    transform:rotateY(180deg);
    transform-style: preserve-3d;
    
}
.paired{
    transform:rotateY(180deg);
}

button{
    float:right;
    width: 10%;
    height: 5%;
    margin-right: 20%;
    background-color: tan;
}

p{
    font-size: 15px;
    position:auto;
    background-color: tan;
}

/*responsive design*/

/*small devices*/
@media (max-width: 767px){
    #gamespace{
        width:100%;
        height: 95%;
        margin-left:0;
        margin-right:0;
    }
    header{
        height: 10px;
        font-size:9px;
    }
    p{
        font-size: 7px;
    }

}

