/* memory match */
html, body { 
    height: 100%; width: 100%; margin: 0; 
    background-color: turquoise;
}
header{
    background-color: tomato;
    font-size: 50px;
    color:blue;
    text-align: center;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}

#gamespace{ /*creating a board for tha game*/
    width:40%;
    height: 80%;
    float:left;
    background-color:turquoise;
    margin-top: 2%;
    margin-left: 30%;
    perspective: 1000px;
}

.card{  /*transition properties are given to the card class since the flip class is toggled*/
    margin-top: 4%;
    margin-right:6%;
    margin-left:3%;
    width: 15%;
    height: 20%;
    float:right;
    position:relative;
    transition: 1s;
    transform-style: preserve-3d;
    
}
.cardBack, .cardFront{
    height:100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden; /*each card is essentially two cards overlayed and when each is flipped it disappears*/
    background-color: saddlebrown;
    
}
.cardFront{ /*the face of the card is reversed, making it invisible at its original state, as per the hidden backface class feature*/
    transform:rotateY(180deg);
}
/*active css*/

.flip{ /*cards that are flipped are transformed, toggling whether the face or back is visible*/
    transform:rotateY(180deg);
    transform-style: preserve-3d;
    
}
.paired{ /*only two cards can have the flipped class at a time, so these maintain their transformation to stay visible through a paired class*/
    transform:rotateY(180deg);
}

button{ /*button that restarts game*/
    float:right;
    width: 10%;
    height: 5%;
    margin-right: 20%;
    background-color: tan;
}

p{  /*used to make sizing and color in the button easier*/
    font-size: 15px;
    position:auto;
    background-color: tan;
}

/*responsive design*/

/*small devices*/
@media (max-width: 768px){
    #gamespace{
        width:100%;
        height: 95%;
        margin-left:0;
        margin-right:0;
    }
    header{
        height: 10px;
        font-size:9px;
    }
    p{
        font-size: 7px;
    }

}

