html, body { 
    height: 100%; width: 100%; margin: 0; 
    background-color: turquoise;
}
h1{
    background-color: tomato;
    font-size: 50px;
    color:blue;
    text-align: center;
    position:relative;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}

div, form{
    width: 500px;
    float:left;
    margin-left:100px;
    margin-right:100%;
    margin-top: 5%;
    font-size: 50px;
}
input, button{
    font-size: 40px;
}

#listspace{
    height: 60%;
}

li{
    margin-right:10px;
}
li>button{
    float:right;
}